.container{
    background-image: url(../../resources/astronaut.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100vw;
    min-height: 50vh;
    display:flex;
    padding-top: 3%;
    padding-bottom: 3%;
}